+++
title = "PopUpGardens"
linkTitle = "PopUpGardens"

+++

{{< blocks/cover title="Welcome to PopUp Poplar Gardens" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Research <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Education <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p  style="font-size:30px"><b>Poplar common gardens aross the US for research and education </b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

PopUp Poplars is an NSF funded collaboration between eighteen univiersities and arborea across the United States. Our research partners are managing a common gardens of naturally occuring hybrid poplar trees.

We will pair phenotypic data from each garden with genome sequencing to identify gene by environment interactions and gene by gene by environment interactions. We will also map this genetic variation back to the genomes of the parental species to identify when hybrid genomes result in unique phenotypes across the environment.

The objective of this work is to characterize the adaptive variation in natural poplar stands, further explore the importance of hybridization in climatic adaptation, and predict poplar distributions with climate change.

These gardens also serve as an open and available resource for education. With our arboreteum partners we introduce classrooms of all ages to scientific thinking, ecological principles, and a life-long love for plants.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-leaf" title="Educational Resources" %}}
Browse our lesson plans teaching concepts in ecology and evolution in the gardens, in the classroom, and in your home

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-school" title="Get Involved!" url="https://github.com/google/docsy-example" %}}
See how your school can get involved. Click [here_dead_link](https://github.com/arboreta_lists) to find ways your class can join the project!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Look for us on Twitter!" url="https://twitter.com/search?q=%23popuppoplars&src=typed_query" %}}
If we wanted to do social media...
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Check back here for work and photos contrubited by students and teachers</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Check back here for updates of our results</h1>
</div>


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Browse our image gallery</h1>
</div>

{{< /blocks/section >}}
